<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="work">
          <h1><b>{{ page.title }}</b></h1>
          {{ content }}

          <h2 class="current"> Current contest </h2>
          {% for item in page.currentcontest %}
          <div class="work-item">
            <img
              src="{{ item.image.src | absolute_url }}"
              alt="{{ item.image.alt }}"
              class="work-bubble"
            />
            <span class="work-text">
              <strong>{{ item.title }}</strong>
              <br>
              {{ item.description }}
	      <br>
              <a href = "{{ item.attachment | absolute_url}}">{{ item.attachmentdescription }}</a>
            </span>
          </div>
          {% endfor %}

	  <h2 class="upcoming"> Upcoming contest </h2>
          {% for item in page.upcomingcontest %}
          <div class="work-item">
            <img
              src="{{ item.image.src | absolute_url }}"
              alt="{{ item.image.alt }}"
              class="work-bubble"
            />
            <span class="work-text">
              <strong>{{ item.title }}</strong>
              <br>
              {{ item.description }}
              <br>
              <a href = "{{ item.attachment | absolute_url}}">{{ item.attachmentdescription }}</a>
            </span>
          </div>
          {% endfor %}

          <h2 class="past"> Past contest </h2>
          {% for item in page.pastcontest %}
          <div class="work-item">
            <img
              src="{{ item.image.src | absolute_url }}"
              alt="{{ item.image.alt }}"
              class="work-bubble"
            />
            <span class="work-text">
              <strong>{{ item.title }}</strong>
              <br>
              {{ item.description }}
              <br>
              <a href = "{{ item.attachment | absolute_url}}">{{ item.attachmentdescription }}</a>
            </span>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
